.section-principal {
  margin: 50px 0;
  padding: 1rem;
  background: #fff;

  @media (min-width: 1025px){
    padding: 30px;
  }
}

.section-principal__title {
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;

  @media (min-width: 1025px){
    font-size: 35px;
    font-weight: 600;
  }
}

.centralizar-conteiners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (min-width: 1025px){
    flex-direction: row;
    align-items: start;
    gap: 1rem;
  }
}

.membership-table {
  width: 100%;
  max-width: 360px;

  @media (min-width: 768px){
    max-width: 95%;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5rem;

    @media (min-width: 768px){
      font-size: 20px;
      margin-bottom: .9rem;
    }

    @media (min-width: 1025px){
      font-size: 23px;
    }
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;

    @media (min-width: 768px){
      font-size: 18px;
    }

    thead th {
      background: #2f2e41;
      color: #fff;
      font-weight: 600;
      padding: 0.75rem;
      &:first-child { border-top-left-radius: 0.5rem; }
      &:last-child  { border-top-right-radius: 0.5rem; }
    }

    tbody {
      tr {
        &:nth-child(even) { background: #F4F1DE; }
        &:last-child td:first-child  { border-bottom-left-radius: 0.5rem; }
        &:last-child td:last-child   { border-bottom-right-radius: 0.5rem; }
      }
      td {
        padding: 0.75rem;
        &:nth-child(n+2) { text-align: center; }
      }
    }

    .icon-check { color: #4aaa6c; }
    .icon-times { color: #dc4343; }
  }
}

/* --- formulário --- */
.membership-form {
  width: 100%;
  max-width: 360px;

  @media (min-width: 768px){
    max-width: 95%;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;

    @media (min-width: 768px){
      font-size: 20px;
      margin-bottom: .9rem;
    }

    @media (min-width: 1025px){
      font-size: 23px;
    }
  }

  .form-card {
    background: #2f2e41;
    color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;

    h3 {
      margin-bottom: 1rem;
      margin-left: 40px;
      font-size: 1.125rem;
      font-weight: 600;

      @media (min-width: 768px){
      font-size: 22px;
      margin-left: 0;
    }
  }
      @media (min-width: 1025px){
        height: 400px;
      }

    .membership-form__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      input,
      textarea {
        width: 80%;
        background: #fff;
        border: none;
        border-radius: 20px;
        padding: 0.75rem 1rem;
        font-size: 17px;
        outline: none;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);

          @media (min-width: 768px){
            font-size: 20px;
          }
      }

      textarea {
        min-height: 80px;
        resize: vertical;
      }

      button {
        width: 80%;
        padding: 0.75rem;
        background: #f5c16a;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.2s ease;

        @media (min-width: 768px){
            font-size: 20px;
            width: 40%;
          }

        &:hover {
          background: #e0b45d;
        }
      }
    }
  }
}