.about-tiya {
  padding: 4rem 1.3rem;
  background-color: #fff;
  text-align: center;

  &__subtitle {
    color: black;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
    letter-spacing: 1px;

    // Tablet
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__title {
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;

    // Tablet
    @media (min-width: 768px) {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  &__description {
    color: #444;
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 3rem auto;
    text-align: justify;

    p {
      margin-top: 20px;
    }

    p:nth-child(3) {
      text-align: center;
    }
  }

  &__team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    // Tablet
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
    }

    .member {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
      }

      .info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.8rem 0 0.8rem;

        h4 {
          font-size: 1.4rem;
          font-weight: 600;
          color: #2e2e4e;
        }

        span {
          font-size: 1.2rem;
          color: #888;
        }
      }
    }
  }
}