.login-modal__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: 768px){
    justify-content: right;
  }
}

.login-modal {
  background-color: #81B29A;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding-top: 2rem;
  animation: slideIn 0.4s ease forwards;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px){
    width: 50vw;
  }

  @media (max-width: 800px) {
    max-width: none;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.login-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    color: #1e1e1e;
  }
}

.login-modal__close {
  background: none;
  border: none;
  color: #1e1e1e;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.login-modal__content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0 3rem;

  @media (min-width: 768px){
    padding: 0 2rem;
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    color: #1e1e1e;

    @media (min-width: 768px){
      font-size: 19px;
    }

    input {
      margin-top: 0.5rem;
      padding: 0.75rem 1rem;
      border-radius: 999px;
      border: 2px solid transparent;
      outline: none;
      font-size: 1rem;
      background: #fff;
      transition: border 0.3s ease;

      @media (min-width: 768px){
        font-size: 1.3rem;
      }

      &:hover {
        border: 2px solid #000;
      }
    }
  }
}

.login-modal__remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #1e1e1e;

  input {
    width: 16px;
    height: 16px;

    @media (min-width: 768px){
      width: 19px;
      height: 19px;  
    }
  }
}

.login-modal__submit {
  background-color: #E8C07D;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
  width: 180px;

  @media (min-width: 768px){
    width: 200px;
    font-size: 1.3rem;
    font-weight: 700;
  }

  &:hover {
    opacity: 0.9;
  }
}

.login-modal__forgot {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #1e1e1e;
  text-decoration: none;
  text-align: center;

  @media (min-width: 768px){
    font-size: 1.2rem;
    margin-top: 0;
  }

  &:hover {
    color: #E8C07D;
  }
}

.login-modal__footer {
  margin-top: auto;
  position: relative;
  font-weight: 500;
  padding: 0 3rem;

  .login-modal__info {
    position: relative;
    z-index: 2;
    padding-bottom: 7rem;

    strong {
      color: #fff;
      font-size: 20px;
    }

    .footer-number {
      color: #3D405B;
      font-size: 18px;
    }
  }

  .login-modal__wave {
    width: 100%;
    height: 80px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
